body{
    margin: 0;
    background-color: #0766ff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
.header{
    width: 100%;
    height: 720px;
    background-color: #e9ebee;
    float: left;
}
.empty{
    width: 14%;
    height: 800px;
    float: left;
}
.logo{
    width: 42%;
    height: 800px;
    float: left;
}
.logo-top{
    height: 240px;
}
.fb-logo{
    width: 310px;
    height: 200px;
    margin-top: 130px;
}
.logo-bottom{
    height: 200px;
}
.fb-txt{
    font-size: 30px;
    margin-left: 30px;
}
.login-form{
    width: 44%;
    height: 800px;
    float: left;
}
.frm{
    background-color: white;
    margin-top: 130px;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.btn{
    border: 1px solid #dddfe2;
    width: 350px;
    height: 50px;
    margin-left: 17px;
    margin-top: 15px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #e4e5e8;
    cursor: pointer;
}
.user-id-txt{
    color: #90949c;
    font-size: 16px;
    padding-left: 15px;
}
.log-in-btn{
    background-color: #0766ff;
    border-color: #0766ff;
    width: 367px;
}
.log-in-btn:hover{
    background: #498bf6;
}
.log-in-txt{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.forgott-txt{
    font-size: 16px;
    font-weight: 500;
    margin-left: 130px;
}
.line{
    width: 360px;
    border: none;
    height: 1px;
}
.forgott{
    color: #176bff;
    text-decoration: none;
}
.sign-up-btn{
    background-color: #42b729;
    border-color: #42b729;
    width: 200px;
    margin-left: 105px;
}
.sign-up-btn:hover{
    background: #3bc01d;
}
.celebrity-txt{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 200;
    color: black;
}
.celebrity-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.footer{
    background-color: white;
    float: left;
    width: 100%;
    height: 180px;
}
.footer1{
    width: 1200px;
    float: left;
    margin-left: 217px;
    margin-top: 15px;
    height: 30px;
}
.footer2{
    width: 1200px;
    float: left;
    margin-left: 213px;
    height: 23px;
}
.footer3{
    width: 1200px;
    float: left;
    margin-left: 213px; 
    height: 23px;
}
.footer4{
    width: 1200px;
    float: left;
    margin-left: 212px;
    height: 23px; 
}
.footer5{
    width: 1200px;
    float: left;
    margin-left: 225px;
    margin-top: 15px;
}

.footer-div{
    float: left;
    margin-left: 15px;
}
.footer-div-lang{
    float: left;
    margin-left: 10px;
}
.footer-txt{
    font-size: 12px;
    color: #90949c
}
.footer-link{
    text-decoration: none;
    color: #90949c
}
.footer-line-div{
    margin-left: 226px;
    float: left;
    height: 10px;
}
.footer-line{
    width: 950px;
    border: none;
    height: 1px;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  
